Source: cdbs-embedded
Section: host/tools
Priority: optional
Maintainer: Mikhail Gusarov <dottedmag@dottedmag.net>
Build-Depends: debhelper (>= 7)
Standards-Version: 3.8.0

Package: cdbs-embedded
Architecture: all
Depends: cdbs
Provides: cdbs-slind
Description: Generation of stripped-down packages with cdbs
 cdbs includes lots of stuff to the packages: changelogs, documentation, etc.
 .
 cdbs-embedded diverts the existing cdbs makefiles to get rid of stuff useless
 on the target devices.
